<p id="notice"><%= notice %></p>

<p>
  <b>Role:</b>
  <%= @profile.role %>
</p>

<p>
  <b>Expertise:</b>
  <%= @profile.expertise %>
</p>


<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
