<%= simple_form_for @user, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :name %>
  <%= f.input :creator_id %>
  <%= f.input :contributor_id %>
  <%= f.input :developer_id %>
  <%= f.input :mentor_id %>
  <%= f.input :recommender_id %>
  <%= f.input :receiver_id %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                users_path, :class => 'btn' %>
  </div>
<% end %>
