<%= form_for(@development) do |f| %>
  <% if @development.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@development.errors.count, "error") %> prohibited this development from being saved:</h2>

      <ul>
      <% @development.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :priority %><br />
    <%= f.text_field :priority %>
  </div>
  <div class="field">
    <%= f.label :developer_id %><br />
    <%= f.text_field :developer_id %>
  </div>
  <div class="field">
    <%= f.label :mentor_id %><br />
    <%= f.number_field :mentor_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
