<%= simple_form_for @development, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :title %>
  <%= f.input :description %>
  <%= f.input :priority %>
  <%= f.input :developer_id %>
  <%= f.input :mentor_id %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                developments_path, :class => 'btn' %>
  </div>
<% end %>
