<%= simple_form_for @challenge, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :title %>
  <%= f.input :description %>
  <%= f.input :duration %>
  <%= f.input :completion_date %>
  <%= f.input :status %>
  <%= f.input :creator_id %>
  <%= f.input :contributor_id %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                challenges_path, :class => 'btn' %>
  </div>
<% end %>
