    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">Gobeyond</a>
          <div class="container nav-collapse">
            <ul class="nav pull-right">
              <li><%= link_to "Challenges", challenges_path  %></li>
              <li><%= link_to "Development", developments_path  %></li>
              <li><%= link_to "About", "/about"  %></li>
              <li><%= link_to "Help", "/help"  %></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">
      <ul class="nav pull-right">
      <div id = "user_nav">
        <% if user_signed_in? %>
          Logged in as <strong><%= current_user.email %></strong>
          <%= link_to 'Edit profile', edit_user_registration_path %> | 
          <%= link_to "Logout", destroy_user_session_path, method: :delete %>
          <% else %>
          <%= link_to "Sign up", new_user_registration_path %> |
          <%= link_to "Login", new_user_session_path %>
          <% end %>
      </div>
    </ul>


    <div class="container">
       <div class="row">
          <div class="span9">
            <%= yield %>
        </div>
          <div class="span3">
            <div class="well sidebar-nav">
              <h3>Sidebar</h3>
              <ul class="nav nav-list">
                <li class="nav-header">Sidebar</li>
                <li><%= link_to "Link1", "/path1"  %></li>
                <li><%= link_to "Link2", "/path2"  %></li>
                <li><%= link_to "Link3", "/path3"  %></li>
              </ul>
            </div><!--/.well -->
          </div><!--/span-->
        </div><!--/row-->